@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body{
    font-family: Source Sans Pro;
    background-color: #eee;
    border-color: #eee;
    box-shawdow:#ddd;
}
title{
    font-family: Roboto Slab;
}
h1{
    font-family:Abril Fatface;
    text-align:center;
}
.newspaper-container{
    width:700px;
    border-radius:rounded;
    box-shawdow:#ddd;
    padding:1em;
    background-color:white;
    margin:auto;

}
nav{
    display:inline-block;
    padding :1em;
    border-top:5px solid purple;
    border-bottom: 5px solid purple;
    margin-left:0;
    

}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0.02em;
    margin:0.1em
    
}

p{
    display:inline-block;
    width:100%;
    height:auto;
}
img{
    border: 2px solid green
}
h5{
    color:red;
}
.more-articles section{
    display:inline-block;
   
    box-shadow:1px 1px 4px 10px light gray;   
    width:45%;
    margin:0 1em;
   
} 


